.overlayModal {
				/* some styles to position the modal at the center of the page */
				position: fixed;
				top: 10%;
				left: 80%;
				/*width: 300px;*/
				/*height: 200px;*/
				/*background-color: #f1c40f;*/
				text-align: center;
				border-radius: 5px;
				/* needed styles for the overlay */
				z-index: 10; /* keep on top of other elements on the page */

		}
